* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9b9b9b;
    margin: 15px;
    padding: 10px;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; 
    padding: 10px 0; 
}

.navbar {
    display: flex;
    align-items: center; 
}

.navbar img {
    width: 100px;
    height: auto; 
    margin-right: 20px; 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px; 
}

.navbar li {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar button {
    border: none; 
    border-radius: 40px;
    padding: 10px 20px; 
    background-color: rgb(199, 139, 255);
    cursor: pointer; 
}

.navbar button:hover {
    background-color: aquamarine;
    color: blue;
}

main {
    background-color: rgb(69, 78, 214);
    border-radius: 30px;
    width: 30%;
    padding: 10px;
    margin: 20px auto; /* Centraliza o main */
}

.box h1 {
    color: aqua;
    text-align: center;
}

.box p {
    text-align: center;
}

footer {
    background-color: aqua;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    margin-top: 20px; /* Espaço acima do footer */
}

