@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: #8d5c4d;
    --cor-secundaria: #eb5a5b;
    --cor-terciaria: #f7a518;
    --branco: white;
}


.navbar{
    display: grid;
    width: auto;
    height: 200px;
    background-color: var(--cor-principal);
    color: var(--branco);
   /* grid-template-columns: ;
    grid-template-rows: ; */
}

.navbar img{
    width: auto;
    height: 100px;
}
.navbar nav {
    display: grid;
    flex-direction: column-reverse;
}