@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: #8d5c4d;
    --cor-secundaria: #eb5a5b;
    --cor-terciaria: #f7a518;
    --branco: white;
}


.navbar{
    display: flex;
    width: auto;
    height: 200px;
    background-color: var(--cor-principal);
    color: var(--branco);
   /* grid-template-columns: ;
    grid-template-rows: ; */
    
}
.navbar nav{
    margin: 50px;
   
    align-items: center;
}

.navbar img{
    width: auto;
    height: 100px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    /* Espaço entre os botões */ 
}

.navbar li {
    
    margin: 0 auto;
     
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.navbar a {
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável*/
    background-image: linear-gradient(135deg, #4e4e4e 40%, #000000);
    border: none;
    color: white;
    cursor: pointer;
} 